<table class="table">
  <thead>
    <tr>
      <th>Oinker</th>
      <th>Oink</th>
      <th>When</th>
    </tr>
  </thead>
  <tbody>
   <% unless @oinks.empty? %>
     <% @oinks.each do |oink| %>
      <tr>
        <td>@<%= oink['user_id'] %></td>
        <td><%= oink['body'] %></td>
        <td><%= relative_time_ago(oink['dateOf(oink_id)']) %></td>
      </tr>
      <% end %>
   <% else %>
     <tr><td colspan="3">No Oinks for you!</td></tr>
   <% end %>
  </tbody>
</table>