<table class="table table-striped">
  <thead>
    <tr>
	    <th>Oinker</th>
      <% if request.path_info == '/oinkers' %>
		  <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% unless @users.empty? %>
      <% @users.each do |user| %>
      <tr>
	      <td>@<%= user.user_id %></td>
        <% if request.path_info == '/oinkers' %>
				  <td>
					  <% if user.user_id == @user.user_id %>
					    That's you!
					  <% else %>
				  		<form action="/oinker/follow" method="POST">
	              <input type="hidden" name="user_id" value="<%= @user.user_id %>"/>
								<input type="hidden" name="friend_id" value="<%= user.user_id %>"/>
	              <input type="submit" value="Follow" class="btn btn-small btn-inverse"/>
	            </form>
             <% end %>	
			    </td>
        <% end %>
        </tr>
      <% end %>
    <% else %>
      <tr><td>There are none!</td></tr>
    <% end %>
  </tbody>
</table>
